In [4]:
import pandas as pd
brands_df = pd.read_csv('../Landing/brands/brands.csv')
brands_df

   brand_id    brand_name                extract_time    source
0         1       Electra  2024-04-28 19:18:55.832586  datalake
1         2          Haro  2024-04-28 19:18:55.832586  datalake
2         3        Heller  2024-04-28 19:18:55.832586  datalake
3         4   Pure Cycles  2024-04-28 19:18:55.832586  datalake
4         5       Ritchey  2024-04-28 19:18:55.832586  datalake
5         6       Strider  2024-04-28 19:18:55.832586  datalake
6         7  Sun Bicycles  2024-04-28 19:18:55.832586  datalake
7         8         Surly  2024-04-28 19:18:55.832586  datalake
8         9          Trek  2024-04-28 19:18:55.832586  datalake

In [5]:
#check nulls
brands_df.isnull().sum()

brand_id        0
brand_name      0
extract_time    0
source          0
dtype: int64

In [6]:
#check dublicates
duplicates = brands_df.duplicated()
duplicates

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
dtype: bool

In [7]:
brands_df.to_csv('../Staging/brands/brands.csv',index=False)