In [1]:
import pandas as pd
catg_df = pd.read_csv('../Landing/categories/categories.csv')
catg_df

   category_id        category_name                extract_time    source
0            1    Children Bicycles  2024-04-28 19:22:44.124299  datalake
1            2     Comfort Bicycles  2024-04-28 19:22:44.124299  datalake
2            3    Cruisers Bicycles  2024-04-28 19:22:44.124299  datalake
3            4  Cyclocross Bicycles  2024-04-28 19:22:44.124299  datalake
4            5       Electric Bikes  2024-04-28 19:22:44.124299  datalake
5            6       Mountain Bikes  2024-04-28 19:22:44.124299  datalake
6            7           Road Bikes  2024-04-28 19:22:44.124299  datalake

In [2]:
#check nulls
catg_df.isnull().sum()

category_id      0
category_name    0
extract_time     0
source           0
dtype: int64

In [3]:
#check dublicates
duplicates = catg_df.duplicated()
duplicates

0    False
1    False
2    False
3    False
4    False
5    False
6    False
dtype: bool

In [5]:
catg_df.to_csv('../Staging/categories/categories.csv',index=False)