In [1]:
import pandas as pd
cust_df = pd.read_csv('../Landing/customers/customers.csv')
cust_df

,customer_id,first_name,last_name,phone,email,street,city,state,zip_code,extract_time,source
0,1,Debra,Burks,NaN,debra.burks@yahoo.com,9273 Thorne Ave.,Orchard Park,NY,14127,2024-04-28 19:23:08.863341,datalake
1,2,Kasha,Todd,NaN,kasha.todd@yahoo.com,910 Vine Street,Campbell,CA,95008,2024-04-28 19:23:08.863341,datalake
2,3,Tameka,Fisher,NaN,tameka.fisher@aol.com,769C Honey Creek St.,Redondo Beach,CA,90278,2024-04-28 19:23:08.863341,datalake
3,4,Daryl,Spence,NaN,daryl.spence@aol.com,988 Pearl Lane,Uniondale,NY,11553,2024-04-28 19:23:08.863341,datalake
4,5,Charolette,Rice,(916) 381-6003,charolette.rice@msn.com,107 River Dr.,Sacramento,CA,95820,2024-04-28 19:23:08.863341,datalake
...,...,...,...,...,...,...,...,...,...,...,...
1440,1441,Jamaal,Morrison,NaN,jamaal.morrison@msn.com,796 SE. Nut Swamp St.,Staten Island,NY,10301,2024-04-28 19:23:08.863341,datalake
1441,1442,Cassie,Cline,NaN,cassie.cline@gmail.com,947 Lafayette Drive,Brooklyn,NY,11201,2024-04-28 19:23:08.863341,datalake
1442,1443,Lezlie,Lamb,NaN,lezlie.lamb@gmail.com,401 Brandywine Street,Central Islip,NY,11722,2024-04-28 19:23:08.863341,datalake
1443,1444,Ivette,Estes,NaN,ivette.estes@gmail.com,88 N. Canterbury Ave.,Canandaigua,NY,14424,2024-04-28 19:23:08.863341,datalake
1444,1445,Ester,Acevedo,NaN,ester.acevedo@gmail.com,671 Miles Court,San Lorenzo,CA,94580,2024-04-28 19:23:08.863341,datalake

In [3]:
#check nulls
cust_df.isnull().sum()

customer_id        0
first_name         0
last_name          0
phone           1267
email              0
street             0
city               0
state              0
zip_code           0
extract_time       0
source             0
dtype: int64

In [10]:
cust_df['phone'].fillna('not recorded', inplace=True)

In [11]:
cust_df.isnull().sum()

customer_id     0
first_name      0
last_name       0
phone           0
email           0
street          0
city            0
state           0
zip_code        0
extract_time    0
source          0
dtype: int64

In [4]:
cust_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1445 entries, 0 to 1444
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   customer_id   1445 non-null   int64
 1   first_name    1445 non-null   object
 2   last_name     1445 non-null   object
 3   phone         178 non-null    object
 4   email         1445 non-null   object
 5   street        1445 non-null   object
 6   city          1445 non-null   object
 7   state         1445 non-null   object
 8   zip_code      1445 non-null   int64
 9   extract_time  1445 non-null   object
 10  source        1445 non-null   object
dtypes: int64(2), object(9)
memory usage: 124.3+ KB

In [7]:
#check dublicates
duplicates = cust_df.duplicated('customer_id')
duplicates

0       False
1       False
2       False
3       False
4       False
        ...
1440    False
1441    False
1442    False
1443    False
1444    False
Length: 1445, dtype: bool

In [9]:
count_duplicates= cust_df['customer_id'].value_counts()
duplicates = count_duplicates[count_duplicates > 1]
duplicates

Series([], Name: customer_id, dtype: int64)

In [12]:
cust_df.to_csv('../Staging/customers/customers.csv',index=False)