In [2]:
import pandas as pd
products = pd.read_csv('../Landing/products/products.csv')
products

,product_id,product_name,brand_id,category_id,model_year,list_price,extract_time,source
0,1,Trek 820 - 2016,9,6,2016,379.99,2024-04-28 19:24:05.466871,datalake
1,2,Ritchey Timberwolf Frameset - 2016,5,6,2016,749.99,2024-04-28 19:24:05.466871,datalake
2,3,Surly Wednesday Frameset - 2016,8,6,2016,999.99,2024-04-28 19:24:05.466871,datalake
3,4,Trek Fuel EX 8 29 - 2016,9,6,2016,2899.99,2024-04-28 19:24:05.466871,datalake
4,5,Heller Shagamaw Frame - 2016,3,6,2016,1320.99,2024-04-28 19:24:05.466871,datalake
...,...,...,...,...,...,...,...,...
329,317,Trek Checkpoint ALR 5 - 2019,9,7,2019,1999.99,2024-04-28 19:24:05.466871,datalake
330,318,Trek Checkpoint ALR 5 Women's - 2019,9,7,2019,1999.99,2024-04-28 19:24:05.466871,datalake
331,319,Trek Checkpoint SL 5 Women's - 2019,9,7,2019,2799.99,2024-04-28 19:24:05.466871,datalake
332,320,Trek Checkpoint SL 6 - 2019,9,7,2019,3799.99,2024-04-28 19:24:05.466871,datalake
333,321,Trek Checkpoint ALR Frameset - 2019,9,7,2019,3199.99,2024-04-28 19:24:05.466871,datalake

In [3]:
#check nulls
products.isnull().sum()

product_id      0
product_name    0
brand_id        0
category_id     0
model_year      0
list_price      0
extract_time    0
source          0
dtype: int64

In [4]:
unique_count = products['product_id'].nunique()
unique_count

321

In [5]:
products.shape

(334, 8)

In [6]:
products.drop_duplicates(subset=['product_id'], inplace=True)

In [7]:
products.shape

(321, 8)

In [8]:
products.to_csv('../Staging/products/products.csv',index=False)