In [1]:
import pandas as pd
staffs = pd.read_csv('../Landing/staffs/staffs.csv')
staffs

,staff_id,first_name,last_name,email,phone,active,store_id,manager_id,extract_time,source
0,1,Fabiola,Jackson,fabiola.jackson@bikes.shop,NaN,1,NaN,NaN,2024-04-28 19:25:41.975564,datalake
1,2,Mireya,NaN,mireya.copeland@bikes.shop,(831) 555-5555,1,1.0,1.0,2024-04-28 19:25:41.975564,datalake
2,3,Genna,Serrano,genna.serrano@bikes.shop,(831) 555-5556,1,1.0,2.0,2024-04-28 19:25:41.975564,datalake
3,4,Virgie,Wiggins,virgie.wiggins@bikes.shop,(831) 555-5557,1,1.0,2.0,2024-04-28 19:25:41.975564,datalake
4,5,Jannette,David,jannette.david@bikes.shop,(516) 379-4444,1,2.0,1.0,2024-04-28 19:25:41.975564,datalake
5,6,Marcelene,Boyer,NaN,(516) 379-4445,1,2.0,5.0,2024-04-28 19:25:41.975564,datalake
6,7,Venita,Daniel,venita.daniel@bikes.shop,NaN,1,2.0,5.0,2024-04-28 19:25:41.975564,datalake
7,8,Kali,Vargas,kali.vargas@bikes.shop,(972) 530-5555,1,3.0,1.0,2024-04-28 19:25:41.975564,datalake
8,9,Layla,Terrell,layla.terrell@bikes.shop,(972) 530-5556,1,3.0,7.0,2024-04-28 19:25:41.975564,datalake
9,10,Bernardine,Houston,bernardine.houston@bikes.shop,(972) 530-5557,1,3.0,7.0,2024-04-28 19:25:41.975564,datalake

In [2]:
#check nulls
staffs.isnull().sum()

staff_id        0
first_name      0
last_name       1
email           1
phone           2
active          0
store_id        1
manager_id      1
extract_time    0
source          0
dtype: int64

In [3]:
staffs['phone'].fillna('not recorded', inplace=True)

In [4]:
staffs['email'].fillna('not recorded', inplace=True)

In [5]:
staffs['manager_id'].fillna('no manager', inplace=True)

In [6]:
staffs = staffs.dropna(subset=['last_name','store_id'])

In [7]:
staffs.isnull().sum()

staff_id        0
first_name      0
last_name       0
email           0
phone           0
active          0
store_id        0
manager_id      0
extract_time    0
source          0
dtype: int64

In [8]:
unique_count = staffs['staff_id'].nunique()
unique_count

8

In [10]:
staffs.shape

(8, 10)

In [11]:
staffs.to_csv('../Staging/staffs/staffs.csv',index=False)