In [8]:
import pandas as pd
stocks = pd.read_csv('../Landing/stocks/stocks.csv')
stocks

     store_id  product_id  quantity                extract_time    source
0           1           1        27  2024-04-28 19:25:44.576923  datalake
1           1           2         5  2024-04-28 19:25:44.576923  datalake
2           1           3         6  2024-04-28 19:25:44.576923  datalake
3           1           4        23  2024-04-28 19:25:44.576923  datalake
4           1           5        22  2024-04-28 19:25:44.576923  datalake
..        ...         ...       ...                         ...       ...
934         3         309        30  2024-04-28 19:25:44.576923  datalake
935         3         310         8  2024-04-28 19:25:44.576923  datalake
936         3         311        23  2024-04-28 19:25:44.576923  datalake
937         3         312        18  2024-04-28 19:25:44.576923  datalake
938         3         313         0  2024-04-28 19:25:44.576923  datalake

[939 rows x 5 columns]

In [9]:
#check nulls
stocks.isnull().sum()

store_id        0
product_id      0
quantity        0
extract_time    0
source          0
dtype: int64

In [10]:
stocks.shape

(939, 5)

In [11]:
stocks.drop_duplicates(inplace=True)

In [12]:
stocks.shape

(939, 5)

In [14]:
stocks.to_csv('../Staging/stocks/stocks.csv',index=False)