In [1]:
import pandas as pd
stores = pd.read_csv('../Landing/stores/stores.csv')
stores

,store_id,store_name,phone,email,street,city,state,zip_code,extract_time,source
0,1,Santa Cruz Bikes,(831) 476-4321,NaN,3700 Portola Drive,Santa Cruz,CA,NaN,2024-04-28 19:25:45.322157,datalake
1,2,Baldwin Bikes,(516) 379-8888,baldwin@bikes.shop,4200 Chestnut Lane,Baldwin,NY,11432.0,2024-04-28 19:25:45.322157,datalake
2,3,Rowlett Bikes,(972) 530-5555,rowlett@bikes.shop,8000 Fairway Avenue,Rowlett,TX,75088.0,2024-04-28 19:25:45.322157,datalake

In [3]:
#check nulls
stores.isnull().sum()

store_id        0
store_name      0
phone           0
email           1
street          0
city            0
state           0
zip_code        1
extract_time    0
source          0
dtype: int64

In [4]:
stores['email'].fillna('no email', inplace=True)

In [5]:
stores['zip_code'].fillna('no zip_code', inplace=True)

In [6]:
stores.isnull().sum()

store_id        0
store_name      0
phone           0
email           0
street          0
city            0
state           0
zip_code        0
extract_time    0
source          0
dtype: int64

In [7]:
#check dublicates
duplicates = stores.duplicated()
duplicates

0    False
1    False
2    False
dtype: bool

In [8]:
stores.to_csv('../Staging/stores/stores.csv',index=False)