In [5]:
import pandas as pd 
customers=pd.read_csv('../Staging_1/customers/customers.csv')
customers.head()

,customer_id,first_name,last_name,phone,email,street,city,state,zip_code,extract_time,source
0,1,Debra,Burks,not recorded,debra.burks@yahoo.com,9273 Thorne Ave.,Orchard Park,NY,14127,2024-04-28 19:23:08.863341,datalake
1,2,Kasha,Todd,not recorded,kasha.todd@yahoo.com,910 Vine Street,Campbell,CA,95008,2024-04-28 19:23:08.863341,datalake
2,3,Tameka,Fisher,not recorded,tameka.fisher@aol.com,769C Honey Creek St.,Redondo Beach,CA,90278,2024-04-28 19:23:08.863341,datalake
3,4,Daryl,Spence,not recorded,daryl.spence@aol.com,988 Pearl Lane,Uniondale,NY,11553,2024-04-28 19:23:08.863341,datalake
4,5,Charolette,Rice,(916) 381-6003,charolette.rice@msn.com,107 River Dr.,Sacramento,CA,95820,2024-04-28 19:23:08.863341,datalake

In [6]:
stores=pd.read_csv('../Staging_1/stores/stores.csv')
stores.head()

,store_id,store_name,phone,email,street,city,state,zip_code,extract_time,source
0,1,Santa Cruz Bikes,(831) 476-4321,no email,3700 Portola Drive,Santa Cruz,CA,no zip_code,2024-04-28 19:25:45.322157,datalake
1,2,Baldwin Bikes,(516) 379-8888,baldwin@bikes.shop,4200 Chestnut Lane,Baldwin,NY,11432.0,2024-04-28 19:25:45.322157,datalake
2,3,Rowlett Bikes,(972) 530-5555,rowlett@bikes.shop,8000 Fairway Avenue,Rowlett,TX,75088.0,2024-04-28 19:25:45.322157,datalake

In [11]:
store_cities = set(stores['city'].unique())
customers['local'] = customers['city'].apply(lambda x: x in store_cities)
customers

,customer_id,first_name,last_name,phone,email,street,city,state,zip_code,extract_time,source,local
0,1,Debra,Burks,not recorded,debra.burks@yahoo.com,9273 Thorne Ave.,Orchard Park,NY,14127,2024-04-28 19:23:08.863341,datalake,False
1,2,Kasha,Todd,not recorded,kasha.todd@yahoo.com,910 Vine Street,Campbell,CA,95008,2024-04-28 19:23:08.863341,datalake,False
2,3,Tameka,Fisher,not recorded,tameka.fisher@aol.com,769C Honey Creek St.,Redondo Beach,CA,90278,2024-04-28 19:23:08.863341,datalake,False
3,4,Daryl,Spence,not recorded,daryl.spence@aol.com,988 Pearl Lane,Uniondale,NY,11553,2024-04-28 19:23:08.863341,datalake,False
4,5,Charolette,Rice,(916) 381-6003,charolette.rice@msn.com,107 River Dr.,Sacramento,CA,95820,2024-04-28 19:23:08.863341,datalake,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1440,1441,Jamaal,Morrison,not recorded,jamaal.morrison@msn.com,796 SE. Nut Swamp St.,Staten Island,NY,10301,2024-04-28 19:23:08.863341,datalake,False
1441,1442,Cassie,Cline,not recorded,cassie.cline@gmail.com,947 Lafayette Drive,Brooklyn,NY,11201,2024-04-28 19:23:08.863341,datalake,False
1442,1443,Lezlie,Lamb,not recorded,lezlie.lamb@gmail.com,401 Brandywine Street,Central Islip,NY,11722,2024-04-28 19:23:08.863341,datalake,False
1443,1444,Ivette,Estes,not recorded,ivette.estes@gmail.com,88 N. Canterbury Ave.,Canandaigua,NY,14424,2024-04-28 19:23:08.863341,datalake,False
1444,1445,Ester,Acevedo,not recorded,ester.acevedo@gmail.com,671 Miles Court,San Lorenzo,CA,94580,2024-04-28 19:23:08.863341,datalake,False

In [12]:
customers.to_csv('../Staging_2/customers/customers.csv', index=False)