In [1]:
import sqlalchemy as db
con = db.create_engine('postgresql://postgres:123@localhost/bikestore')
con.table_names()

/tmp/ipykernel_11381/2604828685.py:3: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  con.table_names()

['orders', 'order_items']

In [5]:
import pandas as pd
from datetime import datetime
orders_query = """
SELECT *
FROM orders
"""
orders = pd.read_sql(orders_query, con)
orders['extract_time'] = datetime.now()
orders['source'] = 'postgres'
orders.head(3)

,order_id,customer_id,order_status,order_date,required_date,shipped_date,store_id,staff_id,extract_time,source
0,1,259,4,2016-01-01,2016-01-03,2016-01-03,1,2,2024-04-28 18:34:33.539332,postgres
1,2,1212,4,2016-01-01,2016-01-04,2016-01-03,2,6,2024-04-28 18:34:33.539332,postgres
2,3,523,4,2016-01-02,2016-01-05,2016-01-03,2,7,2024-04-28 18:34:33.539332,postgres

In [ ]:
order_item = """
SELECT *
FROM orders
"""
order_item = pd.read_sql(order_item, con)
order_item['extract_time'] = datetime.now()
order_item['source'] = 'postgres'
order_item.head(3)